/*  Global Variables  */
:root {
  --main-bg-color: #0D1117;
  --main-text-color: #ded9cf;
  --secondary-text-color: #96938c;
  /* "Cosmic Latte" */
  --highlight-text-color: #fa873b;
  --secondary-highlight-text-color: #fccd8f;
}

/*  General Styles  */
body,
html {
  height: 100%;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Inconsolata', monospace;
  font-size: 1.15em;
  overflow: auto;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 50vw;
  margin: auto;
}

.content ul {
  list-style-type: '- ';
}

.imp {
  color: var(--highlight-text-color);
}

.hr-header {
  border: none;
  border-top: 1px solid var(--main-text-color);
  width: 100%;

}

.hr-footer {
  border: none;
  border-top: 1px solid var(--main-text-color);
  width: 100%;
  margin-top: 1rem;
}


a {
  color: var(--highlight-text-color);
  display: inline-block;
  border-bottom: 1px dotted;
  text-decoration: none;
}

.img-link {
  color: transparent !important;
}


a:hover {
  -ms-transform: translateY(-1.5px);
  -webkit-transform: translateY(-1.5px);
  transform: translateY(-1.5px);
  transition-duration: 0.05s;
}

h1 {
  font-weight: 400;
}

img {
  max-width: 350px;
  max-height: 350px;
}

@media only screen and (max-width: 600px) {
  img {
    height: 15vh;
  }
}

/*  Header  */

.header {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}

.logo-nav-container {
  display: flex;
  align-items: end;
  width: 100%;

  a {
    border-bottom: none !important;
    text-decoration: none;
  }
}

.no-float-link {
  display: inline;
}

#logo {
  margin-right: auto;
  color: var(--main-text-color);
  text-decoration: none;
}

.nav {
  margin-left: auto;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: var(--secondary-highlight-text-color);
  text-decoration: none;

}

.active {
  text-decoration: none;
  color: var(--highlight-text-color);
}


/*  Footer */
footer {
  opacity: 70%;
  padding-bottom: 1vh;
}

/*  Media Queries  */
@media screen and (max-width: 992px) {
  .content {
    max-width: 80vw;
    font-size: 3rem;
  }
}
