/* TODO: Upgrade to SASS. This is annoying to update. 

/*========== GENERAL/HOME =============*/
body {
    background-color: #1f1f1f ;
    color: #FFF7E8; /*This color is called Cosmic Latte, neat*/
    font-family: 'Courier New', Courier, monospace;
}

.content {
    margin: 3.5vw;
    padding: none;
}
    
.imp {
    color: #feae79;
}


hr {
    /* hmm */
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #FFF7E8;
    width: 50vw;
    position: absolute;
}

#header {
    color:#FFF7E8;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
}

a {
    color: #feae79;
    display:inline-block
}

.img-link {
    color: transparent !important;
}

.no-float-link {
    display: inline;
}

a:hover {
    -ms-transform: translateY(-1.5px);
    -webkit-transform: translateY(-1.5px); 
    transform: translateY(-1.5px);
    transition-duration: 0.05s;
}


h1 {
    font-weight: 400;
}

img {
    max-width: 350px;
    max-height: 350px;
}

@media only screen and (max-width: 600px) {
    img {
		height: 15vh;
	}
}

/*========== NAV =============*/

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
}

.nav { 
    border-bottom: 1px solid #FFF7E8;
    padding-bottom: 1vw;
    width: 20vw;
}

.nav-link {
    color: #fcddb5;
    text-decoration: none;
}

.active {
    text-decoration: none;
    color: #feae79;
}

/* Definitely a better way of doing this... */

@media screen and (max-width: 1500px) {
    .nav { 
        width: 10vw;
    }
    .content {
        width: 55vw;
    }
}

@media screen and (max-width: 1400px) {
    .nav { 
        width: 15vw;
    }
}

@media screen and (max-width: 1000px) {
    .nav { 
        width: 20vw;
    }
}

@media screen and (max-width: 710px) {
    .nav { 
        width: 25vw;
    }
}

@media screen and (max-width: 600px) {
    .nav { 
        width: 30vw;
    }
    .content {
        width: 60vw;
    } 
}

@media screen and (max-width: 500px) {
    .nav { 
        width: 35vw;
    }
    .content {
        width: 70vw;
    }
}
@media screen and (max-width: 500px) {
    .nav { 
        width: 40vw;
    }
    .content {
        width: 80vw;
    }
}
@media screen and (max-width: 500px) {
    .nav { 
        width: 45vw;
    }
    .content {
        width: 90vw;
    }
}

