
body {
    background-color: #1f1f1f ;
    color: #FFF7E8; /*This color is called Cosmic Latte, haha*/
    font-family: 'IBM Plex Mono', monospace;  
}

#wrapper {
    padding: 10vw;
    padding-top: 0vh;
    width: 50vw;
    margin: auto;
}


#searchText {
    font-family: 'IBM Plex Mono', monospace;  
    padding: 0.1em;
    font-size: 2.5em;
    width: 100%;
}


h1 {
    color: #95d3ff;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    display: inline
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr {
    border-bottom: 1px solid #dddddd;;
}


.columns {
    padding: none
}